<div class="top">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <div class="box1">
          <p>趣味を見つける、趣味を広める<br>
          "自分の楽しい"を共有しませんか？</p>
        </div>
        <div class="box2">
          <div class="button">
            <%= link_to "ほびシェアを始める", new_user_registration_path, class: "btn btn-info" %>
          </div>
          <div class="button">
            <%= link_to "ログインする", new_user_session_path, class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>