<% @posts.each do |post| %>
  <div>
    <%=link_to post_path(post) do %>
      <%= post.title %>
    <% end %><br>
    <%= post.detail %>
    <%= attachment_image_tag post, :photo %>
  </div>
<% end %>

<%#paginate @post %>